## Imprimindo com parametros (Rodar em Python 3.9 ou superior)

In [175]:
nome = "Rodrigo"
sobrenome = "Garcia"
print("Este é meu nome: %s. E sobrenome: %s" %(nome,sobrenome))

Este é meu nome: Rodrigo. E sobrenome: Garcia

## Imprimindo com ExpandTabs

In [176]:
txt = "H\te\tl\tl\to"

x =  txt.expandtabs(2)

print(x)

H e l l o

In [177]:
texto = "this is\tstring example....wow!!!"
print("Original string: " + texto)
print("Default exapanded tab: " + texto.expandtabs())
print("Double exapanded tab: " + texto.expandtabs(16))

Original string: this is	string example....wow!!!
Default exapanded tab: this is string example....wow!!!
Double exapanded tab: this is         string example....wow!!!

In [178]:
texto = "this is\tstring example....wow!!!"

print("Original string: %s" % (texto))
print("Default exapanded tab: %s" % (texto.expandtabs()))
print("Double exapanded tab: %s" % (texto.expandtabs(16)))

Original string: this is	string example....wow!!!
Default exapanded tab: this is string example....wow!!!
Double exapanded tab: this is         string example....wow!!!

## Metodo Format

Pytnon Formatação
https://pyformat.info

In [179]:
a1 = 'One: {a}, Two: {b}, Three: {c}'.format(a=1, b='two', c=12.3)
print(a1)

One: 1, Two: two, Three: 12.3

## * Listas *

In [180]:
#Definindo lista
var = 1
my_list = ['a','b','c',"texto"]

print(my_list[:])
print(my_list[1:])
print(my_list[:3])
print(my_list[-1])
my_list * 3

['a', 'b', 'c', 'texto']
['b', 'c', 'texto']
['a', 'b', 'c']
texto

['a', 'b', 'c', 'texto', 'a', 'b', 'c', 'texto', 'a', 'b', 'c', 'texto']

In [181]:
#Adicionando elemento ao final da lista
print(my_list)
my_list.append("mais um")
print(my_list)

['a', 'b', 'c', 'texto']
['a', 'b', 'c', 'texto', 'mais um']

In [182]:
#Removendo ultimo elemento da lista
print(my_list)
my_list.pop()
my_list

['a', 'b', 'c', 'texto', 'mais um']

['a', 'b', 'c', 'texto']

In [183]:
# Removendo um elemento da lista baseado na posição
print(my_list)
my_list.pop(2)
print(my_list)

['a', 'b', 'c', 'texto']
['a', 'b', 'texto']

In [184]:
# Adicionando um elemento no meio da lista
my_list = ['a','b','c',"texto"]
my_list
my_list.insert(1,'d')
my_list

['a', 'd', 'b', 'c', 'texto']

In [185]:
#Removendo elemento da lista baseado no valor/texto
my_list = ['a','b','c',"texto"]
print(my_list)
my_list.remove('b')
my_list

['a', 'b', 'c', 'texto']

['a', 'c', 'texto']

### Aninhamento de Listas - Usando Matrix

In [186]:
lst_1 = [1,2,3]
lst_2 = [4,5,6]
lst_3 = [7,8,9]
matrix = [lst_1, lst_2, lst_3]
print(matrix)
print('tamanho: ' + str(len(matrix)))
print(matrix[0][1])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
tamanho: 3
2

### Compreensão em Listas

In [187]:
# Pegando somente a primeira coluna de cada linha da matrix
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]
matrix=[lst_1, lst_2, lst_3]
first_col = [row[0] for row in matrix]
first_col

[1, 4, 7]

In [188]:
# Comparando com Listas
lista = [1,2,3]
lista

[1, 2, 3]

## Dicionários

In [189]:
my_dict = {'key1':1.2, 'key2':'textoqualquer','key3':23,'key4':[1,2,3,[4,5,6]]}
print('1 - ' + str(my_dict))
print('2 - ' + my_dict['key2'])

# Python interpreta a chave do tipo string como string, por isto pode utilizar metodos de string
print('3 - ' + my_dict['key2'].upper())
print('4 - ' + my_dict['key2'][2])
print('5 - ' + my_dict['key2'][::-1])

# Valores são mutaveis
my_dict['key3'] = 25
print('6 - ' + str(my_dict))

1 - {'key1': 1.2, 'key2': 'textoqualquer', 'key3': 23, 'key4': [1, 2, 3, [4, 5, 6]]}
2 - textoqualquer
3 - TEXTOQUALQUER
4 - x
5 - reuqlauqotxet
6 - {'key1': 1.2, 'key2': 'textoqualquer', 'key3': 25, 'key4': [1, 2, 3, [4, 5, 6]]}

In [190]:
# Outra forma mais simples de criar dicionario
my_dict2 = {}
my_dict2['chave1'] = 'Dog'
print(my_dict2)
my_dict2['chave2'] = 'Cat'
my_dict2['chave3'] = 1980
print(my_dict2)

{'chave1': 'Dog'}
{'chave1': 'Dog', 'chave2': 'Cat', 'chave3': 1980}

In [191]:
# Aninhando Dicionarios
my_dict3 = {'key1':1.2, 'key2':'textoqualquer','key3':23,'key4':{'chave1':444,'chave2':'Rodrigo'}}
print(my_dict3)
print(my_dict3['key2'])
print(my_dict3['key4'])

{'key1': 1.2, 'key2': 'textoqualquer', 'key3': 23, 'key4': {'chave1': 444, 'chave2': 'Rodrigo'}}
textoqualquer
{'chave1': 444, 'chave2': 'Rodrigo'}

In [192]:
# Metódos de Dicionários
print('Metodos Keys')
print(my_dict3.keys())
print(list(my_dict3.keys()))
print(list(my_dict3.keys())[2])
print(my_dict3['key4'].keys())

print('------')
print('Metodos Values')
print(my_dict3.values())

print('Metodos Itens')
print(my_dict3.items())

Metodos Keys
dict_keys(['key1', 'key2', 'key3', 'key4'])
['key1', 'key2', 'key3', 'key4']
key3
dict_keys(['chave1', 'chave2'])
------
Metodos Values
dict_values([1.2, 'textoqualquer', 23, {'chave1': 444, 'chave2': 'Rodrigo'}])
Metodos Itens
dict_items([('key1', 1.2), ('key2', 'textoqualquer'), ('key3', 23), ('key4', {'chave1': 444, 'chave2': 'Rodrigo'})])

## Tuplas

In [193]:
t = (1,2,3)
type(t)

tuple

In [194]:
print(t)

(1, 2, 3)

In [195]:
t = ('um', 222, 1.2, [1,2,3])
t

('um', 222, 1.2, [1, 2, 3])

In [196]:
# Para puxar valores da tuplas
print(t[0])
print(t[1:])
print(t[:2])
print(t[::-1])

um
(222, 1.2, [1, 2, 3])
('um', 222)
([1, 2, 3], 1.2, 222, 'um')

In [197]:
# --- Metodos de tuplas ---
# Retorno de indice
t.index('um')

# Contar quantas vezes o elemento aparece na tupla

t1 = (1, 1, 1, 22, 22, 'teste', 'teste', 'ttt')
print(t1.count(22))
print(t1.count('ttt'))

2
1

## Arquivos no Python

In [198]:
#pwd

In [199]:
my_file = open('Texto.txt')

In [200]:
my_file

In [201]:
# Leitura de Arquivo
my_file.read()

'Texto 1\nTexto 2\nTexto 3'

In [202]:
# Leitura de Arquivo 2
my_file.seek(0)
my_file.readline()

'Texto 1\n'

In [203]:
my_file.seek(0)
for linha in my_file:
    print(linha)

Texto 1

Texto 2

Texto 3

## Comparação

In [204]:
a = 1
b = 2
c = 1
a == c or b == 1

True

## IF, elif e else

In [205]:
a = 1
b = 1
bol = a == b
bol

True

In [206]:
if bol:
    a += 10
c = 1
print(a)
print(c)

11
1

In [207]:
a = [10, 5, 6, 8, 10, 9]
b = {'Adriano': 10, 'Bruno': 8, 'Manoel': 5, 'Ana': 7}

i = 4 # Indice do aluno
j = 'Bruno' # Nome do aluno
r = 'Resultado: '

#Busca por matriz de nota
if (a[i] >= 9):
    print("Aprovado")
elif (a[i] >= 8):
    print("Recuperação")
else:
    print("Reprovado")

#Busca por nome do aluno
print('Aluno: ' + j + ' - Nota: '+ str(b[j]))
if (b[j] >= 9):
    print(r + " " + "Aprovado")
elif (b[j] >= 8):
    print(r + " " + "Recuperação")
else:
    print(r + " " + "Reprovado")

Aprovado
Aluno: Bruno - Nota: 8
Resultado:  Recuperação

## For

In [236]:
l = [1, 2, 3, 4, 5, 6, 7]
print(l)

[1, 2, 3, 4, 5, 6, 7]

In [228]:
for num in l:
        print(num)

1
2
3
4
5
6
7

In [237]:
for num in l:
    print('Num vezes 1:', num)
    print('Num vezes 2:', num * 2)
    print('Num vezes 3:', num * 3)

Num vezes 1: 1
Num vezes 2: 2
Num vezes 3: 3
Num vezes 1: 2
Num vezes 2: 4
Num vezes 3: 6
Num vezes 1: 3
Num vezes 2: 6
Num vezes 3: 9
Num vezes 1: 4
Num vezes 2: 8
Num vezes 3: 12
Num vezes 1: 5
Num vezes 2: 10
Num vezes 3: 15
Num vezes 1: 6
Num vezes 2: 12
Num vezes 3: 18
Num vezes 1: 7
Num vezes 2: 14
Num vezes 3: 21

In [211]:
for num in l:
    if num % 2 == 0:
        print(num, 'é par')
    else:
        print(num, 'é impar')

1 é impar
2 é par
3 é impar
4 é par
5 é impar
6 é par
7 é impar

In [212]:
sum_ = 0
for num in l:
    sum_ += num
    print(sum_)
print(sum_)

1
3
6
10
15
21
28
28

In [213]:
_ = 0
for num in l:
    sum_ += num
print(sum_)

56

In [214]:
string_ = 'Essa é uma strin!'
for char in string_:
    print(char)

E
s
s
a

é

u
m
a

s
t
r
i
n
!

In [239]:
tup_ = (1, 2, 3, 4, 5)
print(type(tup_))
for t in tup_:
    print(tup_)

<class 'tuple'>
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)

In [251]:
# lista com tuplas
l = [(2, 3), (4, 5), (6, 7)]
(t1, t2) = l[0]

print(str(t1)+" e "+ str(t2))
#imprimindo tuplas
for t1 in l:
    print("t1: ", t1)

for t2 in l:
    print("t2: ", t2)

#operando em tuplas com for
for (t1, t2) in l:
    print("t1: ", t1, "t2: ", t2)
    print(t1 * t2)

2 e 3
t1:  (2, 3)
t1:  (4, 5)
t1:  (6, 7)
t2:  (2, 3)
t2:  (4, 5)
t2:  (6, 7)
t1:  2 t2:  3
6
t1:  4 t2:  5
20
t1:  6 t2:  7
42

In [258]:
# FOR com Dicionário
d = {'k1':1 , 'k2':2, 'k3':3}

#retornando as chaves
for chave in d:
    print(chave)

#retornando as items
for item in d.items():
    print(item)

#retornando valores usando Double unpacking
for (key, valor) in d.items():
    print(valor)

#retornando items:valores
for (key, valor) in d.items():
    print(key, ':', valor)

k1
k2
k3
('k1', 1)
('k2', 2)
('k3', 3)
1
2
3
k1 : 1
k2 : 2
k3 : 3

## While

O formato geral de um loop while é:

while teste:
    declaração de código
else:
    declarações de código final

In [1]:
x = 1
while x < 10:
    print('O valor de x é: ', x)
    x += 1
else:
    print('O valor de x é: ', x)

O valor de x é:  1
O valor de x é:  2
O valor de x é:  3
O valor de x é:  4
O valor de x é:  5
O valor de x é:  6
O valor de x é:  7
O valor de x é:  8
O valor de x é:  9
O valor de x é:  10

In [2]:
x = 1
y = 1
while (x < 10 and y< 20):
    print('O valor de x * y é: ', x * y)
    x += 1
    y += 2
else:
    print('O valor de x * y é: ', x *y )

O valor de x * y é:  1
O valor de x * y é:  6
O valor de x * y é:  15
O valor de x * y é:  28
O valor de x * y é:  45
O valor de x * y é:  66
O valor de x * y é:  91
O valor de x * y é:  120
O valor de x * y é:  153
O valor de x * y é:  190

### Break
Funciona tanto em While quanto For

In [5]:
x = 1
lista = []

while True:
    lista += [x]
    x += 1
    if x > 10:
        break

print(lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Continue
Permite que codigo abaixo seja executado quando chega a uma situação

In [7]:
ate = 50
x = 0
while x < ate:
    x += 1
    if x % 2 == 1:
        continue
    if x % 2 == 0:
        print(x, 'é par')

2 é par
4 é par
6 é par
8 é par
10 é par
12 é par
14 é par
16 é par
18 é par
20 é par
22 é par
24 é par
26 é par
28 é par
30 é par
32 é par
34 é par
36 é par
38 é par
40 é par
42 é par
44 é par
46 é par
48 é par
50 é par